<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="TemplatePadrao">


<section layout:fragment="conteudo"><br>
	
  
 <div class="jumbotron jumbotron-fluid bg-fundo">
  <div class="container text-center">
    <h1 class="display-4" style="color: #fff;">Bem vindo [[${#httpServletRequest.remoteUser}]] ! </h1>
  </div>
 </div>

<div class="container" >
<span class="login100-form-title p-b-32">
	Carrinho de compras
</span>
	<table class="table table-bordered ">
	  <thead class="thead-light">
	    <tr class="text-center">
	      <th ></th>
	      <th  >Item</th>
	      <th >Preço</th>
	      <th >Quantidade</th>
	      <th >Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="item : ${@carrinhoCompras.itens}" class="text-center">
	      <td class="bg-light"><img class="card-img-top" th:attr="src=@{/imagens/{foto}(foto=${item.event.foto})}" style="height: 4rem; width: 8rem;"></td>
	      <td class="align-middle bg-light" th:text="${item.event.name}"></td>
	      <td class="align-middle">
	      <ul>
	      	<li th:text="${item.tipoPreco}"></li>
	      	<li th:text="|R$ ${{item.preco}}|"></li>
	      </ul>
	      </td>
	      <td class="align-middle bg-light" th:text="${@carrinhoCompras.getQuantidade(item)}"></td>
	      <td class="align-middle" th:text="|R$ ${@carrinhoCompras.getTotal(item)}|"></td>
	     
	    </tr>
	</tbody>
	<tfoot>
	<tr >
	<td colspan="3">
	<form action="/carrinho/finalizar">
		<input type="hidden"  name="itens">
		<button type="submit" name="checkout" class="btn btn-dark" >Finalizar Compra</button>
	</form>
	</td>
	
		<td class="bg-light text-center align-middle">R$ [[${@carrinhoCompras.total}]]</td>
		<td></td>
	</tr>
	</tfoot>
	</table>	



</div>
</section>

</html>