<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/stylo.css" >
<link rel="stylesheet" href="/css/util.css" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<title>Classificados</title>
</head>
<body>
<section layout:fragment="conteudo">
 
</section>
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/bootstrap.min.js" ></script>
</body>
</html>